*.DS_Store
*.Plo
*.aux
*.bbl
*.blg
*.brf
*.g6
*.gz
*.html
*.idx
*.ilg
*.ind
*.la
*.la
*.lab
*.lab
*.lo
*.log
*.orig
*.out
*.pdf
*.pnr
*.pyc
*.pyc
*.semigroups
*.six
*.swo
*.swp
*.synctex.gz
*.tex
*.toc
*.top
*.tui
*.txt
./libsemigroups/
.dirstamp
.libs
Makefile
Makefile.in
Transitions*
_AutoDocMainFile.xml
_Chunks.xml
aclocal.m4
autom4te*
autom4te.*
autom4te.cache
bibliography.xml.bib
bin
cnf
config.log
config.status
configure
doc/main.aux
doc/main.bbl
doc/main.blg
doc/main.brf
doc/main.idx
doc/main.ilg
doc/main.ind
doc/main.log
doc/main.out
doc/main.pnr
doc/main.tex
doc/main.toc
doc/manual.pdf
doc/manual.six
gh-pages
lcov*
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
main.xml
new_bibliography.xml.bib
pkgconfig.h.in~
semigroups-config.hpp
src/.deps
src/.dirstamp
src/.libs
src/_pkgconfig.h
src/stamp-h1
tags
title.xml
tmp
tst/workspaces/test-output.w
wiki/
