/aclocal.m4
/autom4te.cache/
/bin/
/config.guess
/config.status
/config.sub
/configure
/doc/_*.xml
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/*.xml.bib
/doc/main.xml
/doc/manual.lab
/doc/manual.six
/doc/title.xml
/gapbind14/demo/gen/
/gen/
/gh-pages/
/libsemigroups/
/Makefile
/src/pkgconfig.h.in
/src/semigroups-config.hpp
