*.html
*.txt
doc/main.aux
doc/main.bbl
doc/main.blg
doc/main.brf
doc/main.idx
doc/main.ilg
doc/main.ind
doc/main.log
doc/main.out
doc/main.pnr
doc/main.tex
doc/main.toc
doc/manual.pdf
doc/manual.six
*.lab
*.pyc
