Olexandr Konovalov <obk1@st-andrews.ac.uk> Alexander Konovalov <alexk@mcs.st-andrews.ac.uk>
Olexandr Konovalov <obk1@st-andrews.ac.uk> Alexander Konovalov <alex-konovalov@users.noreply.github.com>
Chris Jefferson <caj21@st-andrews.ac.uk> Chris Jefferson <chris@bubblescope.net>
Chris Russell <cr66@st-andrews.ac.uk> ChristopherRussell <cr66@st-andrews.ac.uk>
Fernando Flores Brito <ffloresbrito@gmail.com> Fernando Flores Brito <ffb3@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk> Finlay Smith <fls3@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk> Finn Smith <finnishing@gmail.com>
Finn Smith <fls3@st-andrews.ac.uk> flsmith <finnishing@gmail.com>
James Mitchell <jdm3@st-and.ac.uk> <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-and.ac.uk> <jdm3@st-and.ac.uk>
James Mitchell <jdm3@st-and.ac.uk> <jdm3@st-andrews.ac.uk>
James Mitchell <jdm3@st-and.ac.uk> <jenkyfunds@gmail.com>
James Mitchell <jdm3@st-and.ac.uk> jamesm <unknown>
Julius Jonusas <jj252@st-andrews.ac.uk> Julius <jj252@st-andrews.ac.uk>
Julius Jonusas <jj252@st-andrews.ac.uk> Julius <unknown>
Julius Jonusas <jj252@st-andrews.ac.uk> jj <unknown>
Luke Elliott <le27@st-andrews.ac.uk> le27 <le27@st-andrews.ac.uk>
Markus Pfeiffer <markusp@mcs.st-andrews.ac.uk> Markus Pfeiffer <markus.pfeiffer@morphism.de>
Michael Young <mct25@st-andrews.ac.uk> <mct25@st-andrews.ac.uk>
Michael Young <mct25@st-andrews.ac.uk> <mtorpey@mtorpey-debtest>
Michael Young <mct25@st-andrews.ac.uk> mct25 <unknown>
Michael Young <mct25@st-andrews.ac.uk> mtorpey <unknown>
Murray Whyte <mw231@st-andrews.ac.uk> Murray Whyte <42549861+MTWhyte@users.noreply.github.com>
Nick Ham <nicholas.charles.ham@gmail.com>
Stuart Burrell <stuartburrell1994@gmail.com> <stuartburrell@users.noreply.github.com>
Stuart Burrell <stuartburrell1994@gmail.com> stuartburrell <unknown>
Tom Conti-Leslie <tom.contileslie@gmail.com> Tom Conti-Leslie <54725378+tomcontileslie@users.noreply.github.com>
Wilf Wilson <wilf@wilf-wilson.net>
