Marina Anagnostopoulou-Merkouri <marina.anagnostopoulou-merkouri@bristol.ac.uk> Marina Anagnostopoulou-Merkouri <mam49@st-andrews.ac.uk>
Stuart Burrell <stuartburrell1994@gmail.com> <stuartburrell@users.noreply.github.com>
Stuart Burrell <stuartburrell1994@gmail.com> stuartburrell <unknown>
Reinis Cirpons <rc234@st-andrews.ac.uk> Reinis Cirpons <43414125+reiniscirpons@users.noreply.github.com>
Reinis Cirpons <rc234@st-andrews.ac.uk> reiniscirpons <rc234@st-andrews.ac.uk>
Tom Conti-Leslie <tom.contileslie@gmail.com> Tom Conti-Leslie <54725378+tomcontileslie@users.noreply.github.com>
Joseph Edwards <jde1@st-andrews.ac.uk> Joseph Edwards <80713360+Joseph-Edwards@users.noreply.github.com>
Joseph Edwards <jde1@st-andrews.ac.uk> Joe Edwards <80713360+Joseph-Edwards@users.noreply.github.com>
Joseph Edwards <jde1@st-andrews.ac.uk> Joseph Edwards <josephdavidedwards@gmail.com>
Luke Elliott <le27@st-andrews.ac.uk> le27 <le27@st-andrews.ac.uk>
Fernando Flores Brito <ffloresbrito@gmail.com> Fernando Flores Brito <ffb3@st-andrews.ac.uk>
Tillman Froehlich <trf1@st-andrews.ac.uk> <47321884+awesometillman@users.noreply.github.com>
Nick Ham <nicholas.charles.ham@gmail.com>
Robert Hancock <robert.hancock@maths.ox.ac.uk> Robert Hancock <hancock@informatik.uni-heidelberg.de>
Robert Hancock <robert.hancock@maths.ox.ac.uk> Robert Hancock <unknown>
Max Horn <horn@mathematik.uni-kl.de> Max Horn <max@quendi.de>
Chris Jefferson <caj21@st-andrews.ac.uk> Chris Jefferson <chris@bubblescope.net>
Julius Jonusas <j.jonusas@gmail.com> Julius <jj252@st-andrews.ac.uk>
Julius Jonusas <j.jonusas@gmail.com> Julius <unknown>
Julius Jonusas <j.jonusas@gmail.com> jj <unknown>
Olexandr Konovalov <obk1@st-andrews.ac.uk> Alexander Konovalov <alex-konovalov@users.noreply.github.com>
Olexandr Konovalov <obk1@st-andrews.ac.uk> Alexander Konovalov <alexk@mcs.st-andrews.ac.uk>
Olexandr Konovalov <obk1@st-andrews.ac.uk> Olexandr Konovalov <5751387+olexandr-konovalov@users.noreply.github.com>
Artemis Konstantinidi <ak316@st-andrews.ac.uk> artemiskonst <97620468+artemiskonst@users.noreply.github.com>
Hyeokjun Kwon <hk78@st-andrews.ac.uk> Hyeokjun Kwon <rnjsgurwns27@gmail.com>
James Mitchell <jdm3@st-andrews.ac.uk> <jdm3@st-and.ac.uk>
James Mitchell <jdm3@st-andrews.ac.uk> <jdm3@st-andrews.ac.uk>
James Mitchell <jdm3@st-andrews.ac.uk> <jenkyfunds@gmail.com>
James Mitchell <jdm3@st-andrews.ac.uk> James Mitchell <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-andrews.ac.uk> james-d-mitchell <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-andrews.ac.uk> jamesm <unknown>
Dima Pasechnik <dmitrii.pasechnik@cs.ox.ac.uk> Dima Pasechnik <dimpase@gmail.com>
Dima Pasechnik <dmitrii.pasechnik@cs.ox.ac.uk> Dima Pasechnik <dima@pasechnik.info>
Markus Pfeiffer <markus.pfeiffer@morphism.de> Markus Pfeiffer <markus.pfeiffer@st-andrews.ac.uk>
Markus Pfeiffer <markus.pfeiffer@morphism.de> Markus Pfeiffer <markusp@mcs.st-andrews.ac.uk>
Chris Russell <cr66@st-andrews.ac.uk> ChristopherRussell <cr66@st-andrews.ac.uk>
Jack Schmidt <jack.schmidt@uky.edu> Jack Schmidt <github@mowsey.org>
Finn Smith <fls3@st-andrews.ac.uk> Finlay Smith <fls3@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk> Finn Smith <finnishing@gmail.com>
Finn Smith <fls3@st-andrews.ac.uk> flsmith <finnishing@gmail.com>
Nicolas Thiéry <nthiery@users.sf.net> Nicolas M. Thiéry <nthiery@users.sf.net>
Chris Wensley <cdwensley.maths@btinternet.com> cdwensley <cdwensley.maths@btinternet.com>
Murray Whyte <mw231@st-andrews.ac.uk> Murray Whyte <42549861+MTWhyte@users.noreply.github.com>
Wilf Wilson <gap@wilf-wilson.net> Wilf Wilson <wilf@wilf-wilson.net>
Wilf Wilson <gap@wilf-wilson.net> wilfwilson <wilf@wilf-wilson.net>
Tianrun Yang <ty39@st-andrews.ac.uk> Tianrun Yang <117233646+Tianrun-Y@users.noreply.github.com>
Michael Young <mct25@st-andrews.ac.uk> <mct25@st-andrews.ac.uk>
Michael Young <mct25@st-andrews.ac.uk> <mtorpey@mtorpey-debtest>
Michael Young <mct25@st-andrews.ac.uk> mct25 <unknown>
Michael Young <mct25@st-andrews.ac.uk> mtorpey <unknown>
