name: codespell
on:
  pull_request:
  push:
    branches:
      - "main"
      - "stable-*.*"

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: codespell-project/actions-codespell@v2.1
