name: "Configuration options"
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"
      - "stable-*.*"
jobs:
  enable-debug:
    runs-on: "ubuntu-latest"
    env:
      ABI: 64
    steps:
      - uses: actions/checkout@v5
      - name: "Setup ccache"
        uses: Chocobo1/setup-ccache-action@v1
        with:
          update_packager_index: false
          override_cache_key: ${{ runner.os }}-$GAPBRANCH-$ABI-${{ github.ref }}
          override_cache_key_fallback: ${{ runner.os }}-$GAPBRANCH-$ABI
      - name: "Install GAP and clone/compile necessary packages"
        uses: gap-actions/setup-gap@v2
        env:
          # We don't understand why this is necessary. Hopefully it can be
          # removed in the fullness of time.
          LDFLAGS: "-pthread"
        with:
          GAP_PKGS_TO_BUILD: "digraphs io orb datastructures profiling"
      - name: "Build Semigroups"
        uses: gap-actions/build-pkg@v1
        with:
          CONFIGFLAGS: --disable-hpcombi --enable-debug
      - name: "Run Semigroups package's tst/teststandard.g"
        uses: gap-actions/run-pkg-tests@v2

  enable-hpcombi:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
        # Don't use ccache, since sometimes this fails when using -mavx
      - name: "Install GAP and clone/compile necessary packages"
        uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_BUILD: "digraphs io orb datastructures profiling"
          ABI: 64
      - name: "Build Semigroups"
        uses: gap-actions/build-pkg@v1
        with:
          ABI: 64
      - name: "Run Semigroups package's tst/teststandard.g"
        uses: gap-actions/run-pkg-tests@v2
      - uses: gap-actions/process-coverage@v2
      - uses: codecov/codecov-action@v5
      - name: "Run GAP's tst/testinstall.g"
        uses: gap-actions/run-pkg-tests@v2
        with:
          GAP_TESTFILE: "ci/run-gap-testinstall.g"

  with-external-libsemigroups:
    runs-on: "ubuntu-latest"
    env:
      ABI: 64
      PKG_CONFIG_PATH: "/home/runner/micromamba/envs/libsemigroups/lib/pkgconfig:/home/runner/micromamba/envs/libsemigroups/share/pkgconfig/"
      LD_LIBRARY_PATH: "/home/runner/micromamba/envs/libsemigroups/lib"
      DO_NOT_DOWNLOAD_LIBSEMIGROUPS: 1 # prevents prerequisites.sh
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v5
      - name: "Install conda environment from environment.yml . . ."
        uses: mamba-org/setup-micromamba@v2
        with:
            environment-file: environment.yml
            cache-environment: true
      - name: "Activate \"libsemigroups\" environment . . ."
        run:  micromamba activate libsemigroups
      - name: "Setup ccache"
        uses: Chocobo1/setup-ccache-action@v1
        with:
          update_packager_index: false
          override_cache_key: ${{ runner.os }}-$GAPBRANCH-$ABI-${{ github.ref }}
          override_cache_key_fallback: ${{ runner.os }}-$GAPBRANCH-$ABI
      - run: mkdir libsemigroups
      - name: "Install GAP and clone/compile necessary packages"
        uses: gap-actions/setup-gap@v2
        env:
          # We don't understand why this is necessary. Hopefully it can be
          # removed in the fullness of time.
          LDFLAGS: "-pthread"
        with:
          GAP_PKGS_TO_BUILD: "digraphs io orb datastructures profiling"
      - name: "Build Semigroups"
        uses: gap-actions/build-pkg@v1
        with: # we use --with-external-fmt since this is available from conda
          CONFIGFLAGS: --disable-hpcombi --with-external-libsemigroups --enable-fmt --with-external-fmt
      - name: "Run Semigroups package's tst/teststandard.g"
        uses: gap-actions/run-pkg-tests@v2
