name: "Extended tests"
on:
  workflow_dispatch:
  push:
    branches:
      - rc-v*
  pull_request:
    paths:
      - ".VERSION"
  schedule:
    # Every day at 2:30 AM UTC
    - cron: 30 2 * * *

concurrency:
  # Group by workflow and ref; the last component ensures that for pull requests
  # we limit to one concurrent job, but for the main/stable branches we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ (github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/stable-')) || github.run_number }}
  # Only cancel intermediate pull request builds
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  extended:
    name: "${{ matrix.os }} / GAP ${{ matrix.gap-version }} / ${{ matrix.ABI }}-bit"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      fail-fast: false
      matrix:
        os:
          - Ubuntu
        gap-version:
          - master
        ABI:
          - 64
          - 32

        include:
          - os: macOS
            gap-version: master
            ABI: 64

    steps:
      - uses: actions/checkout@v5
      - name: "Install macOS dependencies"
        if: ${{ runner.os == 'macOS' }}
        run: brew install automake libtool
      - name: "Install 32-bit Ubuntu packages"
        if: ${{ runner.os == 'Linux' && matrix.ABI == '32' }}
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          packages=(
            libgmp-dev:i386
            libreadline-dev:i386
            zlib1g-dev:i386
            gcc-multilib
            g++-multilib
          )
          sudo apt-get install "${packages[@]}"
      # Setup ccache, to speed up repeated compilation of the same binaries
      # (i.e., GAP and the packages)
      - name: "Setup ccache"
        if: ${{ runner.os != 'Windows' }}
        uses: Chocobo1/setup-ccache-action@v1
        with:
          update_packager_index: false
          override_cache_key: ${{ runner.os }}-${{ matrix.gap-version }}-${{ matrix.ABI }}-${{ github.ref }}
          override_cache_key_fallback: ${{ runner.os }}-${{ matrix.gap-version }}-${{ matrix.ABI }}
      - name: "Install GAP"
        uses: gap-actions/setup-gap@v3
        with:
          ABI: ${{ matrix.ABI }}
          gap-version: ${{ matrix.gap-version }}
      - name: "Build necessary GAP packages"
        shell: bash
        env:
          ABI: ${{ matrix.ABI }}
        run: |
          cd ${GAPROOT}/pkg
          ../bin/BuildPackages.sh --strict digraphs* io* orb* datastructures* profiling*
      - name: "Build Semigroups"
        uses: gap-actions/build-pkg@v2
        with:
          ABI: ${{ matrix.ABI }}
          CONFIGFLAGS: --disable-hpcombi
      - name: "Run GAP's tst/teststandard.g"
        uses: gap-actions/run-pkg-tests@v4
        with:
          testfile: "ci/run-gap-teststandard.g"
      - name: "Run GAP's tst/testbugfix.g"
        uses: gap-actions/run-pkg-tests@v4
        with:
          testfile: "ci/run-gap-testbugfix.g"
